<!--  Replace menu links here -->
 
<li class="nav-item"><a class="nav-link font-weight-bold text-dark" href="/#about">About</a> </li>
<li class="nav-item"><a class="nav-link font-weight-bold text-dark" href="/#services">Services</a> </li>
<li class="nav-item"> <a class="nav-link font-weight-bold text-dark" href="/#portfolio">Works</a> </li>
<li class="nav-item"> <a class="nav-link font-weight-bold text-dark" href="/#pricing">Pricing</a> </li>
<li class="nav-item"><a class="nav-link font-weight-bold text-dark" href="/#contact">Contact</a> </li>
 
